<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Risk Assessments</title>
    <link href="/style.css" rel="stylesheet">
</head>
<body style="margin: 0px">
<div th:replace="components/header">Header</div>
<div th:replace="components/sidebar">Sidebar</div>

<div style="margin-left: 275px; margin-top: 60px; justify-content: center; text-align: center; ">
    <div style="background-color:white; width: 100%; text-align: center; min-width: 600px; margin: 0px; display: flex; flex-wrap: wrap; justify-content: center;">
        <div style="width: 80%; display: flex; justify-content: space-between;flex-wrap: wrap;">
            <a href="/assessments/risk"><div class="button"><h2>View Risk Assessments</h2></div></a>
            <a href="/assessments/coshh"><div class="button"><h2>View COSHH Assessments</h2></div></a>
        </div>
        <table style="margin: 15px; width: calc(100% - 30px); font-family: montserrat; font-weight: bold; -moz-border-radius:6px; text-align: center" th:if="${!allAssessments.isEmpty()}">
            <tr style="font-size: 18px;">
                <th class="overview">Type</th>
                <th class="overview">Name</th>
                <th class="overview">Date Created</th>
                <th class="overview">Author</th>
            </tr>
            <tr th:each="assessment : ${allAssessments}">
                <td class="overview" th:text="${assessment.class.simpleName}">Type</td>
                <td class="overview"><a th:text="${assessment.assessmentName}" th:href="@{/assessment/risk(id=${assessment.assessmentId})}">Assessment Name</a></td>
                <td class="overview" th:text="${assessment.getFormattedCreatedDate()}">Date Created</td>
                <td class="overview"><a th:text="${assessment.author.displayName}" th:href="@{/user(id=${assessment.author.userId.toString()})}"/></td>

            </tr>
        </table>

        <div th:if="${allAssessments.isEmpty()}" style="width: 100%; height: 100%; display: flex; justify-content: center;">
            <h2 style="margin-top: 100px;" >You don't have any Risk Assessments. Try creating some?</h2>
        </div>
        </div>
    </div>
</div>

</body>
</html>