<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Risk Assessment</title>
    <link href="/style.css" rel="stylesheet">
    <style>
        td.data {
            text-align: left;
            background-color: #E0E0E0;
            border-radius: 6px;
            -moz-border-radius: 6px;
            width: 100%;
            padding-left: 15px;
            padding-top: 0px;
            padding:0px;
            vertical-align: top;
        }
    </style>
</head>
<body style="margin: 0px">
<div th:replace="components/header">Header</div>
<div th:replace="components/sidebar">Sidebar</div>

<form method="POST" th:action="@{/api/assessment/risk/new}" th:object="${riskAssessment}">
    <div style="margin-left: 275px; margin-top: 60px; justify-content: center; text-align: center; ">
        <div style="background-color:white; width: 100%; text-align: center; min-width: 600px; margin: 0px; display: flex; flex-wrap: wrap;">
            <div style="width: 100%">
                <table style="background-color:white; height: 1px; margin: 15px; width: calc(100% - 30px); font-family: montserrat,sans-serif; font-weight: bold; border-spacing: 20px 20px; border-radius:6px; -moz-border-radius:6px; align-content:flex-start; ">
                    <tr>
                        <th class="rounded">Assessment Name</th>
                        <td class="data">
                            <input th:field="*{assessmentName}" type="text">
                        </td>
                    </tr>
                    <tr>
                        <th class="rounded">Reaction</th>
                        <td class="data">
                            <input th:field="*{reaction}" type="text">
                        </td>
                    </tr>
                    <tr>
                        <th class="rounded">Number of Exposures</th>
                        <td class="data">
                            <input th:field="*{numberOfExposures}" type="text">
                        </td>
                    </tr>
                    <tr>
                        <th class="rounded">Frequency of Task*</th>
                        <td class="data">
                            <select style="width:100%" class="table" th:field="*{frequencyOfTask}" required>
                                <option class="table" th:each="i : ${frequencies}" th:text="${i.getDisplayName()}" th:value="${i}"</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th class="rounded">Severity*</th>
                        <td class="data">
                            <select style="width:100%" class="table" th:field="*{severity}" required>
                                <option class="table" th:each="i : ${severities}" th:text="${i.getDisplayName()}" th:value="${i}"</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th class="rounded">Likelihood*</th>
                        <td class="data">
                            <select style="width:100%" class="table" th:field="*{likelihood}" required>
                                <option class="table" th:each="i : ${likelihoods}" th:text="${i.getDisplayName()}" th:value="${i}"</option>
                            </select>
                        </td>
                    </tr>
                    <tr th:if="${!chemicalHazardCards.isEmpty()}">
                        <th class="rounded"><label for="chemicalHazardCards">Chemical Hazard Cards</label></th>
                        <td class="data">
                            <div class="scrollbox">
                                <div style="margin:10px;"   th:each="card : ${chemicalHazardCards}">
                                    <input style="float: left; text-align: left" id="chemicalHazardCards" type="checkbox" th:field="*{chemicalHazardCards}" th:text="${card.getCardName()}" th:value="${card.getCardId()}"/>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr th:if="${!biologicalHazardCards.isEmpty()}">
                        <th class="rounded"><label for="biologicalHazardCards">Biological Hazard Cards</label></th>
                        <td class="data">
                            <div class="scrollbox">
                                <div style="margin:10px;"   th:each="card : ${biologicalHazardCards}">
                                    <input style="float: left; text-align: left" id="biologicalHazardCards" type="checkbox" th:field="*{biologicalHazardCards}" th:text="${card.getCardName()}" th:value="${card.getCardId()}"/>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr th:if="${!physicalHazardCards.isEmpty()}">
                        <th class="rounded"><label for="physicalHazardCards">Physical Hazard Cards</label></th>
                        <td class="data">
                            <div class="scrollbox">
                                <div style="margin:10px;"   th:each="card : ${physicalHazardCards}">
                                    <input style="float: left; text-align: left" id="physicalHazardCards" type="checkbox" th:field="*{physicalHazardCards}" th:text="${card.getCardName()}" th:value="${card.getCardId()}"/>
                                </div>
                            </div>
                        </td>
                    </tr>

                </table>
            </div>
        </div>
        <div style="width: 100%; text-align:center; align-content: center; display:flex; justify-content: center">
            <input style="display:none" id="submit" type="submit" value="Submit">
            <label for="submit">
                <div style="background-color: #00766C; border-radius: 6px; -moz-border-radius: 6px; width: 200px">
                    <h1 style="padding:10px; color:white">Submit</h1>
                </div>
            </label>
        </div>
    </div>
</form>

</body>
</html>