<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>COSHH Assessments</title>
  <link href="/style.css" rel="stylesheet">
</head>
<body style="margin: 0px">
<div th:replace="components/header">Header</div>
<div th:replace="components/sidebar">Sidebar</div>

<div style="margin-left: 275px; margin-top: 60px; justify-content: center; text-align: center; ">
  <div style="background-color:white; width: 100%; text-align: center; min-width: 600px; margin: 0px; display: flex; flex-wrap: wrap; justify-content: flex-start;">      <div class="button" id="all-cards">
        <a href="/assessments/coshh">
          <h2>All COSHH Assessments</h2>
        </a>
      </div>
      <div class="button" id="my-cards">
        <a href="/assessments/coshh?view=self">
          <h2>My COSHH Assessments</h2>
        </a>
      </div>
      <div class="button" id="to-approve">
        <a href="/assessments/coshh?view=approve">
          <h2>Assessments to Approve</h2>
        </a>
      </div>
      <div class="button">
        <a href="/assessment/coshh/new">
          <h2>New COSHH Assessment</h2>
        </a>
      </div>
    </div>
    <table th:if="${!coshhAssessments.isEmpty()}" style="margin: 15px; width: calc(100% - 30px); font-family: montserrat; font-weight: bold; -moz-border-radius:6px; text-align: center">
      <tr style="font-size: 18px;">
        <th class="overview">Name</th>
        <th class="overview">Date Created</th>
        <th class="overview">Author</th>
          <th class="overview">Signed</th>
      </tr>
      <tr th:each="assessment : ${coshhAssessments}">
        <td class="overview"><a th:text="${assessment.assessmentName}" th:href="@{/assessment/coshh(id=${assessment.assessmentId})}">Assessment Name</a></td>
        <td class="overview" th:text="${assessment.getFormattedCreatedDate()}">Date Created</td>
        <td class="overview" th:text="${assessment.author.displayName}">Author</td>
          <td class="overview" th:text="${assessment.signedUsers.contains(user)}"></td>
      </tr>
    </table>

    <div th:if="${coshhAssessments.isEmpty()}" style="width: 100%; height: 100%; display: flex; justify-content: center;">
      <h2 style="margin-top: 100px;" >You don't have any COSHH Assessments. Try creating some?</h2>
    </div>

  </div>
</div>
</div>
<script>
  let url = window.location.href;
  console.log(url);
  if (url.endsWith("?view=self")) {
    document.getElementById("my-cards").style.opacity = 0.5;
  } else if (url.endsWith("?view=approve")) {
    document.getElementById("to-approve").style.opacity = 0.5;
  } else {
    document.getElementById("all-cards").style.opacity = 0.5;
  }
</script>

</body>
</html>