<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>COSHH Assessments</title>
  <link href="/style.css" rel="stylesheet">
</head>
<body style="margin: 0px">
<div th:replace="components/header">Header</div>
<div th:replace="components/sidebar">Sidebar</div>

<div style="margin-left: 275px; margin-top: 60px; justify-content: center; text-align: center; ">
  <div style="background-color:white; width: 100%; text-align: center; min-width: 600px; margin: 0px; display: flex; flex-wrap: wrap; justify-content: flex-start;">
      <a href="/assessments/coshh">
          <div class="button" id="all-cards">
              <h2>All COSHH Assessments</h2>
          </div>
      </a>
      <a href="/assessments/coshh?view=self">
          <div class="button" id="my-cards">
              <h2>My COSHH Assessments</h2>
          </div>
      </a>
      <a href="/assessments/coshh?view=approve">
          <div class="button" id="to-approve">
              <h2>Assessments to Approve</h2>
          </div>
      </a>
      <a href="/assessment/coshh/new">
          <div class="button">
              <h2>New COSHH Assessment</h2>
          </div>
      </a>
    </div>
    <table th:if="${!coshhAssessments.isEmpty()}" style="margin: 15px; width: calc(100% - 30px); font-family: montserrat; font-weight: bold; -moz-border-radius:6px; text-align: center">
        <tr style="font-size: 18px;">
            <td><input id="searchName" type="text" placeholder="Seach Name" th:value="${nameSearch}"></td>
            <td></td>
            <td><input id="searchAuthor" type="text" placeholder="Search Author" th:value="${authorSearch}"></td>
            <td></td>
        </tr>
      <tr style="font-size: 18px;">
        <th class="overview">Name</th>
        <th class="overview">Date Created</th>
        <th class="overview">Author</th>
          <th class="overview">Signed</th>
      </tr>
      <tr th:each="assessment : ${coshhAssessments}">
        <td class="overview"><a th:text="${assessment.assessmentName}" th:href="@{/assessment/coshh(id=${assessment.assessmentId})}">Assessment Name</a></td>
        <td class="overview" th:text="${assessment.getFormattedCreatedDate()}">Date Created</td>
        <td class="overview"><a th:text="${assessment.author.displayName}" th:href="@{/user(id=${assessment.author.userId.toString()})}"></a></td>
          <td class="overview" th:text="${assessment.signedUsers.contains(user)} ? 'Yes' : 'No'"></td>
      </tr>
    </table>

    <div th:if="${coshhAssessments.isEmpty()}" style="width: 100%; height: 100%; display: flex; justify-content: center;">
      <h2 style="margin-top: 100px;" >You don't have any COSHH Assessments. Try creating some?</h2>
    </div>

  </div>
<script>
  let url = window.location.href;
  console.log(url);
  if (url.endsWith("?view=self")) {
    document.getElementById("my-cards").style.opacity = "0.5";
  } else if (url.endsWith("?view=approve")) {
    document.getElementById("to-approve").style.opacity = "0.5";
  } else {
    document.getElementById("all-cards").style.opacity = "0.5";
  }
  let searchNameInput = document.getElementById("searchName");
  searchNameInput.addEventListener("keyup", search);

  let searchAuthorInput = document.getElementById("searchAuthor");
  searchAuthorInput.addEventListener("keyup", search);

  function search(event) {
      if (event.keyCode === 13) {
          let name = searchNameInput.value;
          let author = searchAuthorInput.value;
          if (name === "" && author === "") {
              window.location.href = "/assessments/coshh";
          } else {
              window.location.href = "/assessments/coshh?view=search&name=" + name + "&author=" + author;
          }
      }
  }
</script>

</body>
</html>