<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Risk Assessment</title>
  <link href="/style.css" rel="stylesheet">
</head>
<body style="margin: 0px">
<div th:replace="~{components/header}">Header</div>
<div th:replace="~{components/sidebar}" class="no-print">Sidebar</div>

<div style="margin-left: 275px; margin-top: 60px; justify-content: center; text-align: center; ">
  <div style="background-color:white; width: 100%; text-align: center; min-width: 600px; margin: 0px; display: flex; flex-wrap: wrap;">
    <a class="no-print" th:href="@{/assessment/risk/copy(id=${riskAssessment.getAssessmentId()})}">
      <div class="button">
          <h2>Copy Risk Assessment</h2>
      </div>
    </a>
    <a class="no-print" onclick="printPDF()">
      <div class="button">
          <h2>Print Risk Assessment</h2>
      </div>
    </a>
    <a class="no-print" onclick="shareAssessment()">
      <div class="button">
        <h2>Share Risk Assessment</h2>
      </div>
    </a>
    <div class="button no-print" id="popup" style="border-radius:4px; background-color:black; display:none;">
      <h3>Copied to clipboard!</h3>
    </div>
    <a class="no-print" th:href="@{/assessment/risk/delete(id=${riskAssessment.getAssessmentId()})}">
      <div class="button" th:if="${isUserOwner}">

          <h2>Delete Risk Assessment</h2>

      </div>
    </a>

    <div style="width: 100%" id="content">
      <table style="background-color:white; margin: 15px; width: calc(100% - 30px); font-family: montserrat,sans-serif; font-weight: bold; border-spacing: 20px 20px; border-radius:6px; -moz-border-radius:6px; align-content:flex-start; ">
        <tr>
          <th class="rounded">Reaction</th>
          <td class="data" th:text="${riskAssessment.getReaction()}">Reaction</td>
        </tr>
        <tr>
          <th class="rounded">Date Created</th>
          <td class="data" th:text="${riskAssessment.getFormattedCreatedDate()}">11/04/2021</td>
        </tr>
        <tr>
          <th class="rounded">Author</th>
          <td class="data" th:text="${riskAssessment.author.displayName}">Stephen 'Conical Flask' Turner
          </td>
        </tr>
        <tr>
          <th class="rounded">Status</th>
          <td class="data" th:text="${riskAssessment.isActive()}">Stephen 'Conical Flask' Turner
          </td>
        </tr>
        <tr th:if="${riskAssessment.getStatus}">
          <th class="rounded">Reviewer</th>
          <td class="data" th:text="${riskAssessment.getAuthor().getDisplayName()}">Stephen 'Conical Flask' Turner
          </td>
        </tr>
        <tr th:if="${riskAssessment.getStatus}">
          <th class="rounded">Reviewed on</th>
          <td class="data" th:text="${riskAssessment.getFormattedApprovedDate()}">Stephen 'Conical Flask' Turner
          </td>
        </tr>
        <tr th:if="${riskAssessment.getDeclinedReason() != null}">
          <th class="rounded">Decline Reason</th>
          <td class="data" th:text="${riskAssessment.getDeclinedReason()}">Stephen 'Conical Flask' Turner
          </td>
        </tr>
        <tr>
          <th class="rounded">Number of Exposures</th>
          <td class="data" th:text="${riskAssessment.numberOfExposures}">Exposures</td>
        </tr>
        <tr th:if="${riskAssessment.frequencyOfTask != null}">
          <th class="rounded">Frequency of Task</th>
          <td class="data" th:text="${riskAssessment.frequencyOfTask.getDisplayName()}">"Frequency"</td>
        </tr>
        <tr th:if="${riskAssessment.severity != null}">
          <th class="rounded">Severity</th>
          <td class="data" th:text="${riskAssessment.severity.getDisplayName()}">"Severity"</td>
        </tr>
        <tr th:if="${riskAssessment.likelihood != null}">
          <th class="rounded">Likelihood</th>
          <td class="data" th:text="${riskAssessment.likelihood.getDisplayName()}">"Likelihood"</td>
        </tr>
      </table>
    </div>
    <div style="width: 100%">
      <table style="background-color:white; margin: 15px; width: calc(100% - 30px); font-family: montserrat,sans-serif; font-weight: bold; border-spacing: 20px 20px; border-radius:6px; -moz-border-radius:6px; ">
        <div th:if="${!riskAssessment.getChemicalHazardCards().isEmpty()}">
          <tr>
            <th class="rounded" th:colspan="${riskAssessment.getChemicalHazardCards().size()}">Chemical Hazard Cards
            </th>
          </tr>

          <div th:each="chemicalHazardCard : ${riskAssessment.getChemicalHazardCards()}">
            <tr style="float:left; width: 100%" >
              <td> <a th:text="${chemicalHazardCard.getCardName()}" th:href="@{/card/chemical(id=${chemicalHazardCard.getCardId()})}"></a></td>
            </tr>
          </div>

        </div>

        <div th:if="${!riskAssessment.getBiologicalHazardCards().isEmpty()}">
          <tr>
            <th class="rounded" th:colspan="${riskAssessment.getBiologicalHazardCards().size()}">Biological Hazard Cards
            </th>
          </tr>

          <div th:each="biologicalHazardCard : ${riskAssessment.getBiologicalHazardCards()}">
            <tr style="float:left; width: 100%" >
              <td><a th:text="${biologicalHazardCard.getCardName()}" th:href="@{/card/biologica(id=${biologicalHazardCard.getCardId()})}"></a></td>
            </tr>
          </div>
        </div>

        <div th:if="${!riskAssessment.getPhysicalHazardCards().isEmpty()}">
          <tr>
            <th class="rounded" th:colspan="${riskAssessment.getPhysicalHazardCards().size()}">Physical Hazard Cards
            </th>
          </tr>

          <div th:each="physicalHazardCard : ${riskAssessment.getPhysicalHazardCards()}">
            <tr style="float:left; width: 100%" >
              <td><a th:text="${physicalHazardCard.getCardName()}" th:href="@{/card/physical(id=${physicalHazardCard.getCardId()})}"></a></td>
            </tr>
          </div>

        </div>
      </table>
    </div>
  </div>
  <div style="width: 100%; text-align:center; align-content: center; display:flex; justify-content: center" th:if="${!approved && canUserApprove}">
    <input style="display:none" id="approve" onclick="submitApproval()">
    <label for="approve">
      <div style="background-color: #BF004C; border-radius: 6px; -moz-border-radius: 6px; width: 200px">
        <h1 style="padding:10px; color:white">Approve</h1>
      </div>
    </label>
  </div>
  <div style="width: 100%; text-align:center; align-content: center; display:flex; justify-content: center;">
    <div style="background-color: #C4C4C4; border-radius: 6px; -moz-border-radius: 6px; width: 500px; height: 250px" id="declineCommentDiv" hidden>
      <input onclick="" type="text" placeholder="Decline Comment" id="declineComment">
    </div>
  </div>
  <div style="width: 100%; text-align:center; align-content: center; display:flex; justify-content: center" th:if="${!approved && canUserApprove}">
    <input style="display:none" id="decline" onclick="addCommentBox()">
    <label for="decline">
      <div style="background-color: #C4C4C4; border-radius: 6px; -moz-border-radius: 6px; width: 200px">
        <h1 style="padding:10px;" id="declineButtonText">Decline</h1>
      </div>
    </label>
  </div>
</div>
<script th:inline="javascript">

  function submitApproval() {
    let assessmentId =/*[[${riskAssessment.getAssessmentId()}]]*/'abc';

    let xhr = new XMLHttpRequest();
    xhr.open('POST', "/api/assessment/risk/approve?assessmentId=" + assessmentId + "&status=approve", true);
    xhr.send();

    location.reload();
  }

  async function shareAssessment() {
    let textToCopy = window.location.href;
    console.log(textToCopy);
    await navigator.clipboard.writeText(textToCopy);
    document.getElementById("popup").style.display = "inline";

  }

  function printPDF() {

      window.print();

  }

  function addCommentBox() {
    let textBoxDiv = document.getElementById("declineCommentDiv");
    let declineButton = document.getElementById("declineButtonText");
    if (textBoxDiv.hidden === false) {
      submitDecline();
    } else {
      textBoxDiv.hidden = false;
      declineButton.textContent = "Submit Decline";
    }
  }

  function submitDecline() {
    let assessmentId =/*[[${riskAssessment.getAssessmentId()}]]*/'abc';
    let textBox = document.getElementById("declineComment");

    let xhr = new XMLHttpRequest();
    xhr.open('POST', "/api/assessment/risk/approve?assessmentId=" + assessmentId + "&status=decline", true);
    xhr.setRequestHeader("reason", textBox.value);
    xhr.send();

    location.reload();
  }


</script>

</body>
</html>