<head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100" rel="stylesheet">
</head>
<div style="display: flex; position: fixed; top: 0; width: 100%">
    <div style="background-color:#26A69A; display: flex; align-items: center; height: 60px; width: 275px">
        <h1 style="margin-left:15px; font-family: montserrat,sans-serif">LabTrack</h1>
    </div>
    <div style="background-color:#26A69A; display: flex; align-items: center; height: 60px; width: calc(100% - 275px); float: right">
        <h1 style="margin-left:15px; font-family: montserrat,sans-serif" th:text="${title}">LabTrack</h1>
        <img style="height:70%; margin-left:auto; margin-right: 10px" src="/images/Ordep.png">
    </div>
</div>