a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

th.overview {
    background-color:#64D8CB;
    padding: 8px;
}
td.overview {
    background-color: #E0E0E0;
    padding: 8px;
}
td.data {
    text-align: left;
    background-color: #E0E0E0;
    border-radius: 6px;
    -moz-border-radius: 6px;
    width: 100%;
    padding-left: 15px;
}

th.rounded {
    padding: 20px;
    text-align: center;
    background-color: #64D8CB;
    border-radius: 6px;
    -moz-border-radius: 6px;
    align-content: flex-start;
    white-space: nowrap;
}
ul {
    font-size: 24px;
    font-family: montserrat, sans-serif;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    margin: 0 0 20px 0;
}

p {
    font-family: montserrat, sans-serif;
    font-weight: bold;
}

h1, h2 {
    font-family: montserrat, sans-serif;
}

div.button {
    height: 50px;
    margin: 17px;
    background-color:#64D8CB;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:0px;
    margin-right:0px;
    padding-left:15px;
    padding-right:15px;
}

img.pictogram {
    height: 100px;
    margin: 10px;
}

h1, h2 {
    font-family: montserrat, sans-serif;
}

input[type="text"], select.table{
    border: 0px;
    background-color: rgba(0,0,0,0);
    height:100%;
    width: calc(100% - 10px);
    border-radius:20px;
    padding: 0px;
    padding-left: 10px;
    font-family: montserrat, sans-serif;
    font-weight: bold;
    font-size: 16px;
}

option.table{
    font-weight: bold;
    font-size: 16px;
}

div::-webkit-scrollbar {
    width: 12px;
}


div::-webkit-scrollbar-track{
    background: #E0E0E0;
    -webkit-border-radius: 6px;
}


div::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background:#26A69A;
}

