a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

th.overview {
    background-color:#64D8CB;
    padding: 8px;
}
td.overview {
    background-color: #E0E0E0;
    padding: 8px;
}
td.data {
    text-align: left;
    background-color: #E0E0E0;
    border-radius: 6px;
    -moz-border-radius: 6px;
    width: 100%;
    padding-left: 15px;
}

th.rounded {
    padding: 20px;
    text-align: center;
    background-color: #64D8CB;
    border-radius: 6px;
    -moz-border-radius: 6px;
    align-content: flex-start;
    white-space: nowrap;
}
ul {
    font-size: 24px;
    font-family: montserrat, sans-serif;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    margin: 0 0 20px 0;
}

p {
    font-family: montserrat, sans-serif;
    font-weight: bold;
}

h1, h2 {
    font-family: montserrat, sans-serif;
}

div.button {
    height: 50px;
    width: 400px;
    margin: 17px;
    background-color:#64D8CB;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:0px;
}

img.pictogram {
    height: 100px;
    margin: 10px;
}

