<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chemical Hazard Card</title>
    <link href="/style.css" rel="stylesheet">
</head>
<body style="margin: 0px">
<div th:replace="components/header">Header</div>
<div th:replace="components/sidebar">Sidebar</div>

<div style="margin-left: 275px; margin-top: 60px; justify-content: center; text-align: center; ">
    <div style="background-color:white; width: 100%; text-align: center; min-width: 600px; margin: 0px; display: flex; flex-wrap: wrap; justify-content: center;">
        <div style="width: 80%; display: flex; justify-content: space-between;flex-wrap: wrap;">
            <a href="/cards/chemical"><div class="button"><h2>View Chemical Hazard Cards</h2></div></a>
            <a href="/cards/biological"><div class="button"><h2>View Biological Hazard Cards</h2></div></a>
            <a href="/cards/physical"><div class="button"><h2>View Physical Hazard Cards</h2></div></a>
        </div>
        <table style="margin: 15px; width: calc(100% - 30px); font-family: montserrat; font-weight: bold; -moz-border-radius:6px; text-align: center" th:if="${!allCards.isEmpty()}">
            <tr>
                <td><input id="searchName" type="text" placeholder="Search Card Name" th:value="${nameSearch}"></td>
                <td></td>
                <td></td>
                <td></td>
                <td><input id="searchAuthor" type="text" placeholder="Search Author" th:value="${authorSearch}"></td>
            </tr>
            <tr style="font-size: 18px;">
                <th class="overview">Card Name</th>
                <th class="overview">Type</th>
                <th class="overview">Synonyms</th>
                <th class="overview">Date Created</th>
                <th class="overview">Author</th>
            </tr>
            <tr th:each="card : ${allCards}">
                <td class="overview"><a th:text="${card.cardName}" th:href="@{/card/{type}(id=${card.cardId}, type=${card.cardType.getDisplayName().toLowerCase()})}">Card Name</a></td>
                <td class="overview" th:text="${card.getType()}">Type</td>
                <td class="overview" th:text="${card.synonyms}">Synonyms</td>
                <td class="overview" th:text="${card.getFormattedDate()}">Date Created</td>
                <td class="overview"><a th:text="${card.author.displayName}" th:href="@{/user(id=${card.author.userId.toString()})}"></a></td>
            </tr>
        </table>

        <div th:if="${allCards.isEmpty()}" style="width: 100%; height: 100%; display: flex; justify-content: center;">
            <h2 style="margin-top: 100px;" >You don't have any cards. Try creating some?</h2>
        </div>
        </div>
    </div>

</body>
<script>
    let searchNameInput = document.getElementById("searchName");
    searchNameInput.addEventListener("keyup", search);

    let searchAuthorInput = document.getElementById("searchAuthor");
    searchAuthorInput.addEventListener("keyup", search);

    function search(event) {
        if (event.keyCode === 13) {
            let name = searchNameInput.value;
            let author = searchAuthorInput.value;
            if (name === "" && author === "") {
                window.location.href = "/cards";
            } else {
                window.location.href = "/cards?name=" + name + "&author=" + author;
            }
        }
    }
</script>
</html>