<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Biological Hazard Card</title>
  <link href="/style.css" rel="stylesheet">

</head>
<body style="margin: 0px">
<div th:replace="components/header">Header</div>
<div th:replace="components/sidebar">Sidebar</div>

<div style="margin-left: 275px; margin-top: 60px; justify-content: center; text-align: center; ">
  <div style="background-color:white; width: 100%; text-align: center; min-width: 600px; margin: 0px; display: flex; flex-wrap: wrap;">
    <div class="button">
      <a onclick="shareAssessment()" class="popup">
        <h2>Share Card</h2>
        <span class="popuptext" id="clipboard">Text copied to clipboard</span>
      </a>
    </div>
      <table style="background-color:white; margin: 15px; width: calc(100% - 30px); font-family: montserrat,sans-serif; font-weight: bold; border-spacing: 20px 20px; border-radius:6px; -moz-border-radius:6px; align-content:flex-start; ">
        <tr>
          <th  class="rounded">Card Type</th>
          <td class="data" th:text="${biologicalHazardCard.getType()}"/>
        </tr>
        <tr>
          <th class="rounded">Date Created</th>
          <td class="data" th:text="${biologicalHazardCard.getFormattedDate()}"/>
        </tr>
        <tr>
          <th class="rounded">Author</th>
          <td class="data" th:text="${biologicalHazardCard.author.displayName}">Stephen 'Conical Flask' Turner
          </td>
        </tr>
        <tr>
          <th class="rounded">Hazardous</th>
          <td class="data" th:if="${!biologicalHazardCard.isHazardous()}">
            <img style="margin:5px; opacity:0.3;" th:alt="Hazardous" src="/images/BHS01.png" width="100">
          </td>
          <td class="data" th:if="${biologicalHazardCard.isHazardous()}">
            <img style="margin:5px;" th:alt="Hazardous" src="/images/BHS01.png" width="100">
          </td>
        </tr>
        <tr>
          <th class="rounded">cat</th>
          <td class="data" th:text="${biologicalHazardCard.cat}"/>
        </tr>
        <tr>
          <th class="rounded">dose</th>
          <td class="data" th:text="${biologicalHazardCard.dose}"/>
        </tr>
        <tr>
          <th class="rounded">period</th>
          <td class="data" th:text="${biologicalHazardCard.state}"/>
        </tr>
      </table>
    </div>
</div>

</body>
</html>