<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

</head>
<body>

</body>
</html><!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Biological Hazard Cards</title>
  <link href="/style.css" rel="stylesheet">
</head>
<body style="margin: 0px">
<div th:replace="components/header">Header</div>
<div th:replace="components/sidebar">Sidebar</div>

<div style="margin-left: 275px; margin-top: 60px; justify-content: center; text-align: center; ">
  <div style="background-color:white; width: 100%; text-align: center; min-width: 600px; margin: 0px; display: flex; flex-wrap: wrap; justify-content: space-between;">
    <div style="background-color:white; width: 100%; text-align: center; min-width: 600px; margin: 0px; display: flex; flex-wrap: wrap; justify-content: flex-start;">
      <div class="button" id="all-cards">
        <a href="/cards/biological">
          <h2>All Cards</h2>
        </a>
      </div>
      <div class="button" id="my-cards">
        <a href="/cards/biological?view=self">
          <h2>My Cards</h2>
        </a>
      </div>
      <div class="button">
        <a href="/card/BiologicalHazardCard/new">
          <h2>New Biological Hazard Card</h2>
        </a>
      </div>
    </div>
    <table th:if="${!biologicalCards.isEmpty()}" style="margin: 15px; width: calc(100% - 30px); font-family: montserrat; font-weight: bold; -moz-border-radius:6px; text-align: center">
      <tr style="font-size: 18px;">
        <th  class="overview">Card Name</th>
        <th class="overview">Date Created</th>
        <th class="overview">Author</th>
        <th class="overview">Synonyms</th>
      </tr>
      <tr th:each="card : ${biologicalCards}">
        <td class="overview"><a th:text="${card.cardName}" th:href="@{/card/{type}(id=${card.cardId}, type=${card.class.simpleName})}">Card Name</a></td>
        <td class="overview" th:text="${card.getFormattedDate()}">Date Created</td>
        <td class="overview" th:text="${card.author.displayName}">Author</td>
        <td class="overview" th:text="${card.synonyms}">Synonyms</td>
      </tr>
    </table>

    <div th:if="${biologicalCards.isEmpty()}" style="width: 100%; height: 100%; display: flex; justify-content: center;">
      <h2 style="margin-top: 100px;" >You don't have any cards. Try creating some?</h2>
    </div>

  </div>
</div>
</div>
<script>
  let url = window.location.href;
  console.log(url);
  if (url.endsWith("?view=self")) {
    document.getElementById("my-cards").style.opacity = 0.5;
  } else {
    document.getElementById("all-cards").style.opacity = 0.5;
  }
</script>

</body>
</html>