<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Biological Hazard Card</title>
  <link href="/style.css" rel="stylesheet">

</head>
<body style="margin: 0">
<div th:replace="~{components/header}">Header</div>
<div th:replace="~{components/sidebar}">Sidebar</div>

<div style="margin-left: 275px; margin-top: 60px; justify-content: center; text-align: center; ">
  <div style="background-color:white; width: 100%; text-align: center; min-width: 600px; margin: 0; display: flex; flex-wrap: wrap;">
    <div style="width:100%; display:flex;">
      <a onclick="shareAssessment()">
        <div class="button">
          <h2>Share Card</h2>
        </div>
      </a>
      <div class="button" id="popup" style="border-radius:4px; background-color:black; display:none;">
        <h3>Copied to clipboard!</h3>
      </div>
    </div>
      <table style="background-color:white; margin: 15px; width: calc(100% - 30px); font-family: montserrat,sans-serif; font-weight: bold; border-spacing: 20px 20px; border-radius:6px; -moz-border-radius:6px; align-content:flex-start; ">
        <tr>
          <th  class="rounded">Card Type</th>
          <td class="data" th:text="${biologicalHazardCard.getType()}"></td>
        </tr>
        <tr>
          <th class="rounded">Synonyms</th>
          <td class="data" th:text="${biologicalHazardCard.getSynonyms()}"></td>
        </tr>
        <tr>
          <th class="rounded">Date Created</th>
          <td class="data" th:text="${biologicalHazardCard.getFormattedDate()}"></td>
        </tr>
        <tr>
          <th class="rounded">Author</th>
          <td class="data" th:text="${biologicalHazardCard.getAuthor().getDisplayName()}">Stephen 'Conical Flask' Turner
          </td>
        </tr>
        <tr>
          <th class="rounded">Hazardous</th>
          <td class="data" th:if="${!biologicalHazardCard.isHazardous()}">
            <img style="margin:5px; opacity:0.3;" alt="Hazardous" src="/images/BHS01.png" width="100">
          </td>
          <td class="data" th:if="${biologicalHazardCard.isHazardous()}">
            <img style="margin:5px;" alt="Not Hazardous" src="/images/BHS01.png" width="100">
          </td>
        </tr>
        <tr th:if="${biologicalHazardCard.getBioSafetyLevel() != null}">
          <th class="rounded">BioSafety Level</th>
          <td class="data" th:text="${biologicalHazardCard.getBioSafetyLevel().getDisplayName()}"></td>
        </tr>
      </table>
    </div>
</div>

</body>
</html>
<script>

  async function shareAssessment() {
    let textToCopy = window.location.href;
    console.log(textToCopy);
    await navigator.clipboard.writeText(textToCopy);
    document.getElementById("popup").style.display = "inline";

  }
</script>