<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chemical Hazard Card</title>
</head>
<body>
<h1>Chemical Hazard Card</h1>
<table style="width: 100%">
    <th>Card Title</th>
    <th>Status</th>
    <th>Date Created</th>
    <th>Author</th>
    <th>CAS</th>
    <th>Signal Word</th>
    <tr th:each="card : ${chemicalHazardCard}">
        <td th:text="${card.cardName}">Card Name</td>
        <td th:text="${card.status}">Status</td>
        <td th:text="${card.getFormattedDate()}">Date Created</td>
        <td th:text="${card.author.displayName}">Author Name</td>
        <td th:text="${card.cas}">CAS</td>
        <td th:text="${card.signalWord}">Signal Word</td>
    </tr>
</table>

<h2>Synonyms</h2>
<table>
    <tr th:each="synonym : ${chemicalHazardCard.synonyms}">
        <td th:text="${synonym}">Synonym</td>
    </tr>
</table>

<h2>Pictograms</h2>
<table>
    <th>Pictogram ID</th>
    <th>Pictogram Title</th>
    <tr th:each="pictogram : ${chemicalHazardCard.pictograms}">
        <td th:text="${pictogram.pictogramId}">Pictogram ID</td>
        <td th:text="${pictogram.pictogramName}">Pictogram Title</td>
    </tr>
</table>

<h2>Hazard Statements</h2>
<table>
    <th>Statement ID</th>
    <th>Statement Title</th>
    <th>Statement State</th>
    <tr th:each="statement : ${chemicalHazardCard.hazardStatements}">
        <td th:text="${statement.statementId}">Statement ID</td>
        <td th:text="${statement.statementName}">Statement Title</td>
        <td th:text="${statement.statementState}">Statement State</td>
    </tr>
</table>

<h2>Precautionary Statements</h2>
<table>
    <th>Statement ID</th>
    <th>Statement Title</th>
    <th>Statement State</th>
    <tr th:each="statement : ${chemicalHazardCard.precautionaryStatements}">
        <td th:text="${statement.statementId}">Statement ID</td>
        <td th:text="${statement.statementName}">Statement Title</td>
        <td th:text="${statement.statementState}">Statement State</td>
    </tr>
</table>
</body>
</html>