<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chemical Hazard Card</title>
    <link href="/style.css" rel="stylesheet">

</head>
<body style="margin: 0px">
<div th:replace="components/header">Header</div>
<div th:replace="components/sidebar">Sidebar</div>

<div style="margin-left: 275px; margin-top: 60px; justify-content: center; text-align: center; ">
    <div style="background-color:white; width: 100%; text-align: center; min-width: 600px; margin: 0px; display: flex; flex-wrap: wrap;">
        <div style="width: 50%">
            <div class="button">
                <a onclick="shareAssessment()" class="popup">
                    <h2>Share Card</h2>
                    <span class="popuptext" id="clipboard">Text copied to clipboard</span>
                </a>
            </div>
            <table style="background-color:white; margin: 15px; width: calc(100% - 30px); font-family: montserrat,sans-serif; font-weight: bold; border-spacing: 20px 20px; border-radius:6px; -moz-border-radius:6px; align-content:flex-start; ">
                <tr>
                    <th  class="rounded">Card Type</th>
                    <td class="data" th:text="${chemicalHazardCard.getType()}">Barclays</td>
                </tr>
                <tr>
                    <th class="rounded">Synonyms</th>
                    <td class="data" th:text="${chemicalHazardCard.getSynonyms()}"/>
                </tr>
                <tr>
                    <th class="rounded">Date Created</th>
                    <td class="data" th:text="${chemicalHazardCard.getFormattedDate()}">11/04/2021</td>
                </tr>
                <tr>
                    <th class="rounded">Author</th>
                    <td class="data" th:text="${chemicalHazardCard.getAuthor().getDisplayName()}">Stephen 'Conical Flask' Turner
                    </td>
                </tr>
                <tr>
                    <th class="rounded">CAS</th>
                    <td class="data" th:text="${chemicalHazardCard.getCas()}">ual sex</td>
                </tr>
                <tr th:if="${chemicalHazardCard.getSignalWord() != null}">
                    <th class="rounded">Signal Word</th>
                    <td class="data" th:text="${chemicalHazardCard.getSignalWord().getDisplayName()}">"Bananas"</td>
                </tr>
            </table>
        </div>
        <div style="width: 50%">
            <div style="background-color: white; height:50%; align-items: center; display: flex; justify-content: center">
                <!-- hazard thing image here -->
                <img alt="Chemical Hazard Card" src="/images/ChemicalHazardCard.png">
            </div>
            <div style="background-color: white; height:50%; display: flex; flex-wrap: wrap; justify-content: center; align-items: center;">
                <!-- images in here -->
                <div th:each="pictogram : ${chemicalHazardCard.getPictograms()}">
                    <img th:alt="${pictogram.name()}"
                         th:src="@{${'/images/' + pictogram.name() +'.png'}}"
                         width="100">
                    <p th:text="${pictogram.getDisplayName()}"></p>
                </div>
            </div>
        </div>
        <div style="width: 100%">
            <table style="background-color:white; margin: 15px; width: calc(100% - 30px); font-family: montserrat,sans-serif; font-weight: bold; border-spacing: 20px 20px; border-radius:6px; -moz-border-radius:6px; ">
                <div th:if="${!chemicalHazardCard.getHazardStatements().isEmpty()}">
                    <tr>
                        <th class="rounded" th:colspan="${chemicalHazardCard.getHazardStatements().size()}">Hazard
                            Statements
                        </th>
                    </tr>

                    <div th:each="hazardStatement : ${chemicalHazardCard.getHazardStatements()}">
                        <tr style="float:left; width: 100%" >
                            <td th:text="${hazardStatement.getStatementName()}"></td>
                        </tr>
                    </div>

                </div>

                <div th:if="${!chemicalHazardCard.getPrecautionaryStatements().isEmpty()}">
                    <tr>
                        <th class="rounded" th:colspan="${chemicalHazardCard.getPrecautionaryStatements().size()}">Precautionary Statements</th>

                    </tr>
                    <div th:each="precautionaryStatement : ${chemicalHazardCard.getPrecautionaryStatements()}">
                        <tr style="float:left; width: 100%" >
                            <td th:text="${precautionaryStatement.getStatementName()}"></td>
                        </tr>
                    </div>
                </div>
            </table>
        </div>
    </div>
</div>

</body>
<script>

    async function shareAssessment() {
        let textToCopy = window.location.href;
        console.log(textToCopy);
        await navigator.clipboard.writeText(textToCopy);
        let popup = document.getElementById("clipboard");
        popup.classList.toggle("show");

    }
</script>
</html>