<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>New Chemical Hazard Card</title>
  <link href="/style.css" rel="stylesheet">
  <style>
        td.data {
          text-align: left;
          background-color: #E0E0E0;
          border-radius: 6px;
          -moz-border-radius: 6px;
          width: 100%;
          padding-left: 15px;
          padding-top: 0px;
          padding:0px;
          vertical-align: top;
        }
        label.pictogram{
          margin: 10px;
          padding: 10px;
          border-radius: 12px;
          -moz-border-radius: 12px;
          display:flex;
          justify-content: center;
          flex-direction:column;
          align-content: center;
          text-align: center;
        }
        .pictogramBox {
          float: left;
          margin: 0 auto;
          width: 100%;
          margin-top: 10px;
        }


    </style>
</head>
<body style="margin: 0px">
<div th:replace="components/header">Header</div>
<div th:replace="components/sidebar">Sidebar</div>

<form action="#" method="POST" th:action="@{/api/card/chemical/new}" th:object="${chemicalHazardCard}">
  <div style="margin-left: 275px; margin-top: 60px; justify-content: center; text-align: center; ">
    <div style="width: 100%; display: flex; flex-wrap: wrap; justify-content: center; align-items: center;">
    <div style="background-color:white; width: 100%; text-align: center; min-width: 600px; margin: 0px; display: flex; flex-wrap: wrap;">

      <table style="background-color:white; height: 1px; margin: 15px; width: calc(100% - 30px); font-family: montserrat,sans-serif; font-weight: bold; border-spacing: 20px 20px; border-radius:6px; -moz-border-radius:6px; align-content:flex-start; ">
          <tr>
            <th class="rounded">Card Name*</th>
            <td class="data">
              <input th:field="*{cardName}" type="text" required minlength="3" maxlength="64" pattern="^[^\W\s_]+$">
            </td>
          </tr>
            <tr>
                <th class="rounded">CAS*</th>
                <td class="data">
                  <input th:field="*{cas}" type="text" required pattern="\b[1-9]{1}[0-9]{1,5}-\d{2}-\d\b">
                </td>
            </tr>
            <tr>
              <th class="rounded">Signal Word*</th>
              <td class="data">
                <select style="width:100%" class="table" th:field="*{signalWord}" required>
                  <option class="table" th:each="i : ${signalWords}" th:text="${i.getDisplayName()}" th:value="${i}"</option>
                </select>
              </td>
            </tr>
          </table>
        </div>
      <!-- images in here -->
      <label class="pictogram" th:each="pictogram : ${pictogramTypes}" th:for="${pictogram.name()}">
        <img th:alt="${pictogram.name()}" th:src="@{${'/images/' + pictogram.name() +'.png'}}" width="100"/>
        <input class="pictogramBox" type="checkbox" th:field="*{pictograms}" th:id="${pictogram.name()}" th:value="${pictogram}"/>
        <h4 style="font-family:'Montserrat'" th:text="${pictogram.getDisplayName()}"/>
      </label>
      <table style="background-color:white; height: 1px; margin: 15px; width: calc(100% - 30px); font-family: montserrat,sans-serif; font-weight: bold; border-spacing: 20px 20px; border-radius:6px; -moz-border-radius:6px; align-content:flex-start; ">
        <tr th:if="${!hazardStatements.isEmpty()}">
          <th class="rounded">Hazard Statements</th>
          <td class="data" style="width: 100%">
            <div class="scrollbox">
              <div style="margin:10px;"   th:each="statement : ${hazardStatements}">
                <input style="float: left; text-align: left" id="hazardStatements" type="checkbox" th:field="*{hazardStatements}" th:text="${statement.getStatementName()}" th:value="${statement.getStatementId()}"/>
              </div>
            </div>
          </td>
        </tr>
        <tr th:if="${!precautionaryStatements.isEmpty()}">
          <th class="rounded">Precautionary Statements</th>
          <td class="data" style="width: 100%">
            <div class="scrollbox">
              <div style="margin:10px;"   th:each="statement : ${precautionaryStatements}">
                <input style="float: left; text-align: left" id="precautionaryStatements" type="checkbox" th:field="*{precautionaryStatements}" th:text="${statement.getStatementName()}" th:value="${statement.getStatementId()}"/>
              </div>
            </div>
          </td>
        </tr>
        </table>
      </div>
    <div style="width: 100%; text-align:center; align-content: center; display:flex; justify-content: center">
      <input style="display:none" id="submit" type="submit" value="Submit">
      <label for="submit">
        <div style="background-color: #00766C; border-radius: 6px; -moz-border-radius: 6px; width: 200px">
          <h1 style="padding:10px; color:white">Submit</h1>
        </div>
      </label>
    </div>
    </div>

  </div>
</form>

</body>
</html>