<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Physical Hazard Card</title>
  <link href="/style.css" rel="stylesheet">

</head>
<body style="margin: 0px">
<div th:replace="components/header">Header</div>
<div th:replace="components/sidebar">Sidebar</div>

<div style="margin-left: 275px; margin-top: 60px; justify-content: center; text-align: center; ">
  <div style="background-color:white; width: 100%; text-align: center; min-width: 600px; margin: 0px; display: flex; flex-wrap: wrap;">
    <div class="button">
      <a onclick="shareAssessment()" class="popup">
        <h2>Share Card</h2>
        <span class="popuptext" id="clipboard">Text copied to clipboard</span>
      </a>
    </div>
      <table style="background-color:white; margin: 15px; width: calc(100% - 30px); font-family: montserrat,sans-serif; font-weight: bold; border-spacing: 20px 20px; border-radius:6px; -moz-border-radius:6px; align-content:flex-start; ">
        <tr>
          <th class="rounded">Card Type</th>
          <td class="data" th:text="${physicalHazardCard.getType()}"/>
        </tr>
        <tr>
          <th class="rounded">Synonyms</th>
          <td class="data" th:text="${physicalHazardCard.getSynonyms()}"/>
        </tr>
        <tr>
          <th class="rounded">Date Created</th>
          <td class="data" th:text="${physicalHazardCard.getFormattedDate()}"/>
        </tr>
        <tr>
          <th class="rounded">Author</th>
          <td class="data" th:text="${physicalHazardCard.getAuthor().getDisplayName()}">Stephen 'Conical Flask' Turner
          </td>
        </tr>
      </table>
    </div>
  <div>
    <div style="background-color: white; display: flex; flex-wrap: wrap; justify-content: center; align-items: center;" th:if="${!physicalHazardCard.getSymbols().isEmpty()}">
      <!-- images in here -->
      <h1>Physical Pictograms</h1>
      <div th:each="pictogram : ${physicalHazardCard.getSymbols()}">
        <img th:alt="${pictogram.name()}"
             th:src="@{${'/images/' + pictogram.name() +'.jpg'}}"
             width="100">
        <p th:text="${pictogram.getDisplayName()}"></p>
      </div>
    </div>
    <div style="background-color: white; display: flex; flex-wrap: wrap; justify-content: center; align-items: center;" th:if="${!physicalHazardCard.getMandatoryPictograms().isEmpty()}">
      <!-- images in here -->
      <h1>Mandatory Pictograms</h1>
      <div th:each="pictogram : ${physicalHazardCard.getMandatoryPictograms()}">
        <img th:alt="${pictogram.name()}"
             th:src="@{${'/images/' + pictogram.name() +'.jpg'}}"
             width="100">
        <p th:text="${pictogram.getDisplayName()}"></p>
      </div>
    </div>
  </div>
</div>

</body>
<script>
  async function shareAssessment() {
    let textToCopy = window.location.href;
    console.log(textToCopy);
    await navigator.clipboard.writeText(textToCopy);
    let popup = document.getElementById("clipboard");
    popup.classList.toggle("show");

  }
</script>
</html>