<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Physical Hazard Card</title>
  <link href="/style.css" rel="stylesheet">

</head>
<body style="margin: 0px">
<div th:replace="components/header">Header</div>
<div th:replace="components/sidebar">Sidebar</div>

<div style="margin-left: 275px; margin-top: 60px; justify-content: center; text-align: center; ">
  <div style="background-color:white; width: 100%; text-align: center; min-width: 600px; margin: 0px; display: flex; flex-wrap: wrap;">
      <table style="background-color:white; margin: 15px; width: calc(100% - 30px); font-family: montserrat,sans-serif; font-weight: bold; border-spacing: 20px 20px; border-radius:6px; -moz-border-radius:6px; align-content:flex-start; ">
        <tr>
          <th  class="rounded">Card Type</th>
          <td class="data" th:text="${physicalHazardCard.getType()}"/>
        </tr>
        <tr>
          <th class="rounded">Date Created</th>
          <td class="data" th:text="${physicalHazardCard.getFormattedDate()}"/>
        </tr>
        <tr>
          <th class="rounded">Author</th>
          <td class="data" th:text="${physicalHazardCard.author.displayName}">Stephen 'Conical Flask' Turner
          </td>
        </tr>
      </table>
    </div>
</div>

</body>
</html>