<!DOCTYPE html>
<html lang="en" style="height:100%"><head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100" rel="stylesheet">
    <title>LabTrack Home</title>
    <style>
        ul {
            font-size: 24px;
            font-family: montserrat;
            list-style-type:none;
            padding: 0px;
            margin: 0px;
        }
        li {
            margin: 0 0 20px 0;
        }
        a {
            text-decoration: none;
            color: black;
            font-weight: bold;
        }
        h1 {
            font-family: montserrat;
        }
    </style>
</head>

<body style="margin: 0px; height: 100%">
<div th:replace="components/header">Header</div>
<div th:replace="components/sidebar">Sidebar</div>

<div style="background-color:grey; width:calc(100% - 275px); height: calc(100% - 60px); display: flex; margin-left: 275px;">
    <div style="background-color:white; display: flex; flex-wrap: wrap; height: 100%; float: right; justify-content: center; align-content:flex-start;">
        <div style="background-color:white; width: 50%; text-align: center; min-width: 600px; margin: 0px;">
            <h1>Your Cards</h1>
            <table style="background-color:#64D8CB; margin: 15px; width: calc(100% - 30px); font-family: montserrat; font-weight: bold; border-radius:6px; -moz-border-radius:6px; text-align: center">
                <tr style="font-size: 18px;">
                    <th>Card Name</th>
                    <th>Date Created</th>
                    <th>Author</th>
                    <th>Status</th>
                    <th>Type</th>
                </tr>
                <tr th:each="card : ${allCards}">
                    <td><a th:text="${card.cardName}" th:href="@{/card/{type}(id=${card.cardId}, type=${card.class.simpleName})}">Card Name</a></td>
                    <td th:text="${card.getFormattedDate()}">Date Created</td>
                    <td th:text="${card.author.displayName}">Author</td>
                    <td th:text="${card.status}">Status</td>
                    <td th:text="${card.class.simpleName}">Type</td>
                </tr>
            </table>
        </div>
        <div style="background-color:white; width: 50%;text-align: center;min-width: 600px;">
            <h1>Your Risk Assessments</h1>
            <table style="background-color:#64D8CB; margin: 15px; width: calc(100% - 30px); font-family: montserrat; font-weight: bold; border-radius:6px; -moz-border-radius:6px; text-align: center">
                <tr style="font-size: 18px;">
                    <th>Card Name</th>
                    <th>Date Created</th>
                    <th>Author</th>
                    <th>Status</th>
                    <th>Type</th>
                </tr>
                <tr th:each="card : ${allCards}">
                    <td><a th:text="${card.cardName}" th:href="@{/card/{type}(id=${card.cardId}, type=${card.class.simpleName})}">Card Name</a></td>
                    <td th:text="${card.getDateCreated()}">Date Created</td>
                    <td th:text="${card.author.displayName}">Author</td>
                    <td th:text="${card.status}">Status</td>
                    <td th:text="${card.class.simpleName}">Type</td>
                </tr>
            </table>
        </div>
        <div style="background-color:white; width: 50%; float: left; text-align: center;min-width: 600px;">
            <h1>Your COSHH Declarations</h1>
            <table style="background-color:#64D8CB; margin: 15px; width: calc(100% - 30px); font-family: montserrat; font-weight: bold; border-radius:6px; -moz-border-radius:6px; text-align: center">
                <tr style="font-size: 18px;">
                    <th>Card Name</th>
                    <th>Date Created</th>
                    <th>Author</th>
                    <th>Status</th>
                    <th>Type</th>
                </tr>
                <tr th:each="card : ${allCards}">
                    <td><a th:text="${card.cardName}" th:href="@{/card/{type}(id=${card.cardId}, type=${card.class.simpleName})}">Card Name</a></td>
                    <td th:text="${card.getDateCreated()}">Date Created</td>
                    <td th:text="${card.author.displayName}">Author</td>
                    <td th:text="${card.status}">Status</td>
                    <td th:text="${card.class.simpleName}">Type</td>
                </tr>
            </table>
        </div>
        <div style="background-color:white; width: 50%; float: right; text-align: center; min-width: 600px;">
            <h1>Latest Asset Management Changes</h1>
            <table style="background-color:#64D8CB; margin: 15px; width: calc(100% - 30px); font-family: montserrat; font-weight: bold; border-radius:6px; -moz-border-radius:6px; text-align: center">
                <tr style="font-size: 18px;">
                    <th>Card Name</th>
                    <th>Date Created</th>
                    <th>Author</th>
                    <th>Status</th>
                    <th>Type</th>
                </tr>
                <tr th:each="card : ${allCards}">
                    <td><a th:text="${card.cardName}" th:href="@{/card/{type}(id=${card.cardId}, type=${card.class.simpleName})}">Card Name</a></td>
                    <td th:text="${card.getDateCreated()}">Date Created</td>
                    <td th:text="${card.author.displayName}">Author</td>
                    <td th:text="${card.status}">Status</td>
                    <td th:text="${card.class.simpleName}">Type</td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>