<!DOCTYPE html>
<html lang="en" style="height:100%"><head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100" rel="stylesheet">
    <link href="/style.css" rel="stylesheet">
    <title>LabTrack Home</title>
</head>

<body style="margin: 0px; height: 100%">
<div th:replace="~{components/header}">Header</div>
<div th:replace="~{components/sidebar}">Sidebar</div>


<div style="background-color:white; margin-left: 275px; margin-top: 60px; display: flex; justify-content: center;">
    <h1 th:if="${allCards.isEmpty() && allAssessments.isEmpty() && allCoshhAssessments.isEmpty()}">You don't have any items available to view yet.</h1>
    <div th:if="${!allCards.isEmpty() || !allAssessments.isEmpty() || !allCoshhAssessments.isEmpty()}" style="background-color:white; display: flex; flex-wrap: wrap; height: 100%; float: right; justify-content: center; align-content:flex-start;">
        <div style="background-color:white; width: 50%; text-align: center; min-width: 600px; margin: 0px;">
            <h1>Hazard Cards</h1>
            <table style="margin: 15px; width: calc(100% - 30px); font-family: montserrat; font-weight: bold; -moz-border-radius:6px; text-align: center">
                <tr style="font-size: 18px;">
                    <th class="overview">Card Name</th>
                    <th class="overview">Type</th>
                    <th class="overview">Date Created</th>
                    <th class="overview">Author</th>
                </tr>
                <tr th:each="card : ${allCards}">
                    <td class="overview"><a th:text="${card.cardName}" th:href="@{/card/{type}(id=${card.cardId}, type=${card.cardType.getDisplayName().toLowerCase()})}">Card Name</a></td>
                    <td class="overview" th:text="${card.getType()}">Type</td>
                    <td class="overview" th:text="${card.getFormattedDate()}">Date Created</td>
                    <td class="overview"><a th:text="${card.author.displayName}" th:href="@{/user(id=${card.author.userId.toString()})}"></a></td>
                </tr>
            </table>
        </div>
        <div style="background-color:white; width: 50%;text-align: center;min-width: 600px;">
            <h1>Risk Assessments</h1>
            <table style="margin: 15px; width: calc(100% - 30px); font-family: montserrat; font-weight: bold; border-radius:6px; -moz-border-radius:6px; text-align: center">
                <tr style="font-size: 18px;">
                    <th class="overview">Name</th>
                    <th class="overview">Date Created</th>
                    <th class="overview">Author</th>
                    <th class="overview">Status</th>
                </tr>
                <tr th:each="assessment : ${allAssessments}">
                    <td class="overview"><a th:text="${assessment.assessmentName}" th:href="@{/assessment/risk(id=${assessment.assessmentId})}">Assessment Name</a></td>
                    <td class="overview" th:text="${assessment.getFormattedCreatedDate()}">Date Created</td>
                    <td class="overview"><a th:text="${assessment.author.displayName}" th:href="@{/user(id=${assessment.author.userId.toString()})}"></a></td>
                    <td class="overview" th:text="${assessment.isActive()}">Author</td>
                </tr>
            </table>
        </div>
        <div style="background-color:white; width: 50%; float: left; text-align: center;min-width: 600px;" th:if="${!allCoshhAssessments.isEmpty()}">
            <h1>COSHH Assessments</h1>
            <table style="margin: 15px; width: calc(100% - 30px); font-family: montserrat; font-weight: bold; border-radius:6px; -moz-border-radius:6px; text-align: center">
                <tr style="font-size: 18px;">
                    <th class="overview">Card Name</th>
                    <th class="overview">Date Created</th>
                    <th class="overview">Author</th>
                    <th class="overview">Status</th>
                </tr>
                <tr th:each="coshh : ${allCoshhAssessments}">
                    <td class="overview"><a th:text="${coshh.assessmentName}" th:href="@{/assessment/coshh(id=${coshh.assessmentId})}">Assessment Name</a></td>
                    <td class="overview" th:text="${coshh.getFormattedCreatedDate()}">Date Created</td>
                    <td class="overview"><a th:text="${coshh.author.displayName}" th:href="@{/user(id=${coshh.author.userId.toString()})}"></a></td>
                    <td class="overview" th:text="${coshh.isActive()}">Author</td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>