<!DOCTYPE html>
<html lang="en" style="height:100%">
<head>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:100" rel="stylesheet">
  <title>LabTrack Home</title>
  <link href="/style.css" rel="stylesheet">


</head>

<body style="margin: 0px; height: 100%">
<div th:replace="~{components/header}">Header</div>
<div th:replace="~{components/sidebar}">Sidebar</div>


<div style="background-color:grey; margin-left: 275px; margin-top: 60px; display: flex;">
  <div style="background-color:white; display: flex; flex-wrap: wrap; height: 100%; width:100%; float: right; justify-content: center; align-content:flex-start;">
    <table style="background-color:white; margin: 15px; width: calc(100% - 30px); font-family: montserrat,sans-serif; font-weight: bold; border-spacing: 20px 20px; border-radius:6px; -moz-border-radius:6px; align-content:flex-start; ">
      <tr>
        <th class="rounded">User ID</th>
        <td class="data" th:text="${user.getUserId().toString()}"></td>
      </tr>
      <tr>
        <th class="rounded">Display Name</th>
        <td class="data" style="display:flex; height:59px; align-items:center;  padding-left: 15px; padding-top: 0px; padding:0px;">
          <input style="width: calc(100% - 100px);" type="text" required minlength="3" th:value="${user.getDisplayName()}" maxlength="64" pattern="^[^\W\s_]+$" onchange="setSelectedRole(this)">
          <div onclick="submitNewRole()" id="submit" style="background-color: #BF004C; border-radius: 6px; -moz-border-radius: 6px;width:100px;height:100%; float:right; text-align:center; color:white;">
            <h3>Update</h3>
          </div>
        </td>
      </tr>
      <tr>
        <th class="rounded">Email Address</th>
        <td class="data" th:text="${user.getEmailAddress()}"></td>
      </tr>
      <tr>
        <th class="rounded">Role</th>
        <td class="data" th:text="${role.getDisplayName()}"></td>
      </tr>
    </table>
    <div style="width: 100%; text-align:center; align-content: center; display:flex; justify-content: center">
      <a th:if="${permitted}" href="/users">
        <div style="margin:20px; background-color: #BF004C; border-radius: 6px; -moz-border-radius: 6px; width: 400px">
          <h1 style="padding:10px; color:white">Manage Users</h1>
        </div>
      </a>
      <a href="/profile/change-password">
        <div style="background-color: #BF004C; border-radius: 6px; -moz-border-radius: 6px; width: 400px; margin:20px;">
          <h1 style="padding:10px; color:white">Change Password</h1>
        </div>
      </a>
    </div>
  </div>
</div>
</body>
</html>
<script th:inline="javascript">
  let updatedName =/*[[${user.getDisplayName()}]]*/'abc';

  function setSelectedRole(newName){

    updatedName = newName.value;
    console.log(updatedName);
  }

  function submitNewRole() {
    let xhr = new XMLHttpRequest();
    xhr.open('POST', "/api/user/change-name?displayName="+updatedName, true);
    xhr.send();
    location.reload();
  }
</script>