<!DOCTYPE html>
<html lang="en" style="height:100%">
<head>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:100" rel="stylesheet">
  <title>View User</title>
  <link href="/style.css" rel="stylesheet">
</head>

<body style="margin: 0px; height: 100%">
<div th:replace="components/header">Header</div>
<div th:replace="components/sidebar">Sidebar</div>


<div style="background-color:grey; margin-left: 275px; margin-top: 60px; display: flex;">
  <div style="background-color:white; display: flex; flex-wrap: wrap; height: 100%; width:100%; float: right; justify-content: center; align-content:flex-start;">
    <table style="background-color:white; margin: 15px; width: calc(100% - 30px); font-family: montserrat,sans-serif; font-weight: bold; border-spacing: 20px 20px; border-radius:6px; -moz-border-radius:6px; align-content:flex-start; ">
      <tr>
        <th class="rounded">User ID</th>
        <td class="data" th:text="${user.getUserId().toString()}"></td>
      </tr>
      <tr>
        <th class="rounded">Display Name</th>
        <td class="data" th:text="${user.getDisplayName()}"></td>
      </tr>
      <tr>
        <th class="rounded">Email Address</th>
        <td class="data" th:text="${user.getEmailAddress()}"></td>
      </tr>
      <tr th:if="${senior}">
        <th class="rounded">Role</th>
        <td class="data" th:text="${user.getRoles().get(0).getDisplayName()}"></td>
      </tr>
      <tr th:if="${!senior}">
          <th class="rounded">Role</th>
          <td class="data" style="display:flex; height:59px; align-items:center;   padding-left: 15px; padding-top: 0px; padding:0px;">
            <select style="width: calc(100% - 100px); height:59px;" class="table" onchange="setSelectedRole(this)">
              <option class="table" th:each="i : ${roles}" th:selected="${user.roles.get(0) eq i}" th:text="${i.getDisplayName()}" th:value="${i}"></option>
            </select>
            <div onclick="submitNewRole()" id="submit" style="background-color: #BF004C; border-radius: 6px; -moz-border-radius: 6px;width:100px;height:100%; float:right; text-align:center; color:white;">
              <h3>Update</h3>
            </div>
          </td>
      </tr>
    </table>
  </div>
</div>
</body>
</html>
<script th:inline="javascript">
  let userId =/*[[${user.getUserId()}]]*/'abc';
  let selectedRole =/*[[${user.roles.get(0)}]]*/'abc';

  function setSelectedRole(newRole){
    selectedRole = newRole.value;
    console.log(selectedRole);
  }

  function submitNewRole() {
    let xhr = new XMLHttpRequest();
    xhr.open('POST', "/api/user/change-role?userId="+userId+"&role="+selectedRole, true);
    xhr.send();

    location.reload();
  }
</script>